{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block content %}

<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row">
                <div class="col">
                    <h2 class="h2-page-title">Shopping Cart</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% if cart_items %}
                    <!-- Cart on mobile screen sizes -->
                    <div class="d-block d-md-none">
                        <div class="row">
                            <div class="col">{% include 'cart/cart_total.html' %}</div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% include 'cart/checkout_buttons.html' %}
                                <p class="text-muted mb-5">A summary of your cart's content is below.</p>
                            </div>
                        </div>

                        <!-- Display Kegs in cart -->
                        {% if cart_kegs %}
                        <div class="row">
                            <div class="col">
                                <span class="h3">Kegs:</span>
                            </div>
                        </div>
                        {% for item in cart_kegs %}
                        <div class="row">
                            <div class="col-12 col-sm-6 mb-2">
                                {% include 'cart/product_image.html' %}
                            </div>
                            <div class="col-12 col-sm-6 mb-2">
                                {% include 'cart/product_info.html' %}
                            </div>
                            <div class="col-12 col-sm-6 order-sm-last">
                                <p class="my-0"><span class="font-weight-bold">Price:</span> NOK {{ item.product.cost }}
                                </p>
                                <p class="my-0"><span class="font-weight-bold">Subtotal:</span>NOK
                                    {{ item.product.cost | calc_subtotal:item.quantity }}</p>
                            </div>
                            <div class="col-12 col-sm-6">
                                {% include 'cart/quantity_form.html' %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                        <!-- Display bottles in cart -->
                        {% if cart_bottles %}
                        <div class="row">
                            <div class="col">
                                <span class="h3">Bottles and Cans:</span>
                            </div>
                        </div>
                        {% for item in cart_bottles %}
                        <div class="row">
                            <div class="col-12 col-sm-6 mb-2">
                                {% include 'cart/product_image.html' %}
                            </div>
                            <div class="col-12 col-sm-6 mb-2">
                                {% include 'cart/product_info.html' %}
                            </div>
                            <div class="col-12 col-sm-6 order-sm-last">
                                <p class="my-0"><span class="font-weight-bold">Price:</span> NOK {{ item.product.cost }}
                                </p>
                                <p class="my-0"><span class="font-weight-bold">Subtotal:</span>NOK
                                    {{ item.product.cost | calc_subtotal:item.quantity }}</p>
                            </div>
                            <div class="col-12 col-sm-6">
                                {% include 'cart/quantity_form.html' %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>

                    <!-- Desktop views -->

                    <div class="d-none d-md-block">

                        <!-- Kegs in cart -->
                        {% if cart_kegs %}
                        <div class="table-responsive">
                            <table class="table table-sm table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <span class="h4">Kegs:</span>
                                        </th>
                                        <th scope="col"></th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                    </tr>
                                </thead>

                                {% for item in cart_kegs %}
                                <tr class="border-bottom">
                                    <td class="p-3  w-25">
                                        {% include 'cart/product_image.html' %}
                                    </td>
                                    <td class="py-3">
                                        {% include 'cart/product_info.html' %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">NOK {{ item.product.cost }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        {% include 'cart/quantity_form.html' %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">NOK {{ item.product.cost | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                                {% endfor %}

                            </table>
                        </div>
                        {% endif %}

                        <!-- Bottles and Cans in cart -->
                        {% if cart_bottles %}
                        <div class="table-responsive">
                            <table class="table table-sm table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <span class="h4">Bottles and Cans:</span>
                                        </th>
                                        <th scope="col"></th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                    </tr>
                                </thead>

                                {% for item in cart_bottles %}
                                <tr class="border-bottom">
                                    <td class="p-3  w-25">
                                        {% include 'cart/product_image.html' %}
                                    </td>
                                    <td class="py-3">
                                        {% include 'cart/product_info.html' %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">NOK {{ item.product.cost }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        {% include 'cart/quantity_form.html' %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">NOK {{ item.product.cost | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                                {% endfor %}



                            </table>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col pt-5 text-right">
                                {% include 'cart/cart_total.html' %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-right">
                                {% include 'cart/checkout_buttons.html' %}
                            </div>
                        </div>


                    </div>
                    {% else %}
                    <p class="lead mb-5">Your cart is empty</p>
                    <a href="{% url 'products' %}" class="btn btn-gold">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Back to top button -->
<div class="btt-button">
    <a class=" btt-link d-flex h-100">
        <i class="fas fa-angle-up mx-auto my-auto"></i>
    </a>
</div>

{% endblock%}


{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script>
    // Back to Top button
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })

    // Update quantity on click
    $('.update-link').click(function (e) {
        let form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let url = `/cart/remove/${itemId}/`;
        let data = {
            'csrfmiddlewaretoken': csrfToken,
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>

{% endblock %}