{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Homepage slideshow -->

<div class="container-fluid w-100 p-0">
    <div id="home-carousel" class="carousel slide carousel-fade" data-interval="false" data-ride="carousel"
        data-touch="true">
        <div class="carousel-inner w-100">

            {% for slide in slides %}
            <div class="carousel-item custom-carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ slide.image.url }}" class="slide-img" alt="{{ slide.title }}">
                <div class="carousel-caption slide-caption">
                    <h2 class="slideshow-title">{{ slide.title }}</h2>
                    <p class="w-50 ml-auto d-none d-sm-block">{{ slide.description }}</p>
                    <a href="{{ slide.cta_link }}" class="btn btn-gold">{{ slide.cta_txt }}</a>
                </div>
            </div>
            {% endfor %}

        </div>
        <a class="carousel-control-prev carousel-control" href="#home-carousel" role="button" data-slide="prev">
            <span aria-hidden="true"><i class="fas fa-caret-left fa-lg"></i></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next carousel-control" href="#home-carousel" role="button" data-slide="next">
            <span aria-hidden="true"><i class="fas fa-caret-right fa-lg"></i></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<!-- Newest Releases -->
<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-10 offset-1 product-container">
            <div class="row">
                <div class="col">
                    <h2 class="h2-page-title">New Products</h2>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
                    <div class="card listing-card h-100 overflow-hidden">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}" class="new-product">
                            <img class="card-img-top img-fluid custom-card-img" src="{{ product.image.url }}"
                                alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}" class="new-product">
                            <img class="card-img-top img-fluid custom-card-img" src="{{ MEDIA_URL }}no-image.png"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0"><strong>{{ product.name }}</strong></p>
                            <p class="card-text text-muted mb-1">{{ product.producer }}</p>
                            {% if product.packaging == 'keg' %}
                            <p class="m-0">{{ product.volume }} keg</p>
                            {% else %}
                            <p class="m-0">
                                {{ product.volume }} x {{ product.units_per_order }} {{ product.packaging}}s
                            </p>
                            {% endif %}
                            {% if product.rating %}
                            <p class="m-0"><i class="fab fa-untappd"></i> Rating: {{ product.rating }} / 5</p>
                            {% else %}
                            <p class="m-0">No Rating</p>
                            {% endif %}

                        </div>
                        <div class="card-footer pt-0 border-0">
                            <p class="lead mb-0 font-weight-bold">
                                NOK {{ product.cost }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row text-center mb-2">
                <a href="{% url 'products' %}" class="btn btn-gold  ml-auto mr-auto">View all products</a>
            </div>
        </div>
    </div>
</div>


{% endblock%}