{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- Homepage slideshow -->

<div class="container-fluid w-100 p-0">
    <div id="home-carousel" class="carousel slide carousel-fade" data-interval="6000" data-ride="carousel"
        data-touch="true">
        <div class="carousel-inner w-100">

            {% for slide in slides %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ slide.image.url }}" class="d-block w-100" alt="{{ slide.title }}">
                <div class="carousel-caption slide-caption">
                    <h2>{{ slide.title }}</h2>
                    <p class="w-50 ml-auto d-none d-sm-block">{{ slide.description }}</p>
                    <a href="{{ slide.cta_url }}" class="btn btn-gold">{{ slide.cta_txt }}</a>
                </div>
            </div>
            {% endfor %}

        </div>
        <a class="carousel-control-prev carousel-control" href="#home-carousel" role="button" data-slide="prev">
            <span aria-hidden="true"><i class="fas fa-caret-left fa-lg"></i></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next carousel-control" href="#home-carousel" role="button" data-slide="next">
            <span aria-hidden="true"><i class="fas fa-caret-right fa-lg"></i></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<!-- Newest Releases -->
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h2>New Arrivals</h2>
        </div>
    </div>

    <!-- New releases listing -->
    <div class="row row-cols-1 row-cols-md-3 row-cols-xl-4">
        <div class="col mb-4">
            <div class="card listing-card">
                <img src="{{ MEDIA_URL }}no-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">New Release #1</h5>
                    <h6>Some Brewery</h6>
                    <p class="card-text">
                        <strong>Style</strong>: IPA<br />
                        <strong>Rating:</strong> 4/5
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card listing-card">
                <img src="{{ MEDIA_URL }}no-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">New Release #2</h5>
                    <h6>Some Brewery</h6>
                    <p class="card-text">
                        <strong>Style</strong>: IPA<br />
                        <strong>Rating:</strong> 4/5
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card listing-card">
                <img src="{{ MEDIA_URL }}no-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">New Release #3</h5>
                    <h6>Some Brewery</h6>
                    <p class="card-text">
                        <strong>Style</strong>: IPA<br />
                        <strong>Rating:</strong> 4/5
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card listing-card">
                <img src="{{ MEDIA_URL }}no-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">New Release #4</h5>
                    <h6>Some Brewery</h6>
                    <p class="card-text">
                        <strong>Style</strong>: IPA<br />
                        <strong>Rating:</strong> 4/5
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card listing-card">
                <img src="{{ MEDIA_URL }}no-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">New Release #5</h5>
                    <h6>Some Brewery</h6>
                    <p class="card-text">
                        <strong>Style</strong>: IPA<br />
                        <strong>Rating:</strong> 4/5
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card listing-card">
                <img src="{{ MEDIA_URL }}no-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">New Release #6</h5>
                    <h6>Some Brewery</h6>
                    <p class="card-text">
                        <strong>Style</strong>: IPA<br />
                        <strong>Rating:</strong> 4/5
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <a href="#" class="btn btn-gold  ml-auto mr-auto">View all products</a>
    </div>

</div>
{% endblock%}