{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1 product-container">
            <div class="row mb-2">
                <div class="col">
                    <h2 class="h2-page-title d-inline-block">
                        Slideshow Management
                    </h2>
                    <a href="{% url 'add_slide' %}" class="ml-3 btn btn-gold">
                        <i class="fas fa-plus-circle mr-2"></i> New slide
                    </a>
                </div>
            </div>
            <!-- Homepage slides -->
            {% for slide in slides %}
            <div class="row">
                <div class="col-3">
                    <img src="{{ slide.image.url }}" class="img-fluid" alt="{{ slide.title }}">
                </div>
                <div class="col-9">
                    <p class="h5 mb-1">{{ slide.title }}</p>
                    <p class="mb-1">{{ slide.description }}</p>
                    <div class="row mt-2">
                        <div class="col">
                            <a class="btn btn-outline-gold" href="{% url 'edit_slide' slide.id %}">
                                <i class="fas fa-pencil-alt mr-2"></i> Edit
                            </a>
                            <a class="btn btn-danger-custom" href="#delete-slide-{{ slide.id }}"
                                data-target="#delete-slide-{{ slide.id }}" data-toggle="modal">
                                <i class="fas fa-trash-alt mr-2"></i> Delete
                            </a>
                        </div>
                    </div>


                </div>

                <!-- Modal window for slide deletion -->
                <div class="modal" id="delete-slide-{{ slide.id }}" tabindex="-1" role="dialog"
                    aria-labelledby="delete-{{ slide.id }}-title" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered text-left" role="document">
                        <div class="modal-content rounded-0">
                            <div class="modal-header">
                                <h5 class="modal-title font-weight-bold text-uppercase"
                                    id="delete-{{ slide.id }}-title">
                                    <i class="fas fa-exclamation-triangle text-danger"></i> You are about to delete
                                    a slide!
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>The slide titled "{{ slide.title }}" will be removed from the home page.
                                    This action cannot be reversed.</p>
                                <p class="font-weight-bold">Are you sure you want to do this?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-outline-gold rounded-0"
                                    data-dismiss="modal">cancel</button>
                                <a href="{% url 'delete_slide' slide.id %}"
                                    class="btn btn-primary btn-danger-custom rounded-0 text-uppercase"><i
                                        class="fas fa-trash-alt"></i> delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock%}

{% block postloadjs %}
{{ block.super }}
{% endblock %}