{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col d-none d-sm-block col-md-3"></div>
        <div class="col col-sm-10 col-md-6">

            <div class="row">
                <div class="col mt-4">
                    {% if producer.image_url %}
                    <a href="{{ producer.image_url }}" target="_blank">
                        <img class="mx-auto d-block mb-2 img-fluid" src="{{ producer.image.url }}"
                            alt="{{ producer.name }}">
                    </a>
                    {% elif producer.image %}
                    <a href="{{ producer.image.url }}" target="_blank">
                        <img class="mx-auto d-block mb-2 img-fluid" src="{{ producer.image.url }}"
                            alt="{{ producer.name }}">
                    </a>
                    {% else %}
                    <a href="{{ producer.image_url }}" target="_blank">
                        <img class="mx-auto d-block mb-2 img-fluid" src="{{ MEDIA_URL }}no-image.png"
                            alt="{{ producer.name }}">
                    </a>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col text-center w-75 w-md-50">
                    <h2><strong>{{ producer.name }}</strong></h2>

                    <p class="mx-auto text-justify">{{ producer.description }}</p>

                    {% if request.user.is_superuser %}
                    <div class="my-3">
                        <small>
                            <a href="{% url 'edit_producer' producer.id %}">Edit</a> |
                            <a class="text-danger" href="#delete-producer-{{ producer.id }}"
                                data-target="#delete-producer-{{ producer.id }}" data-toggle="modal">Delete</a>
                        </small>
                    </div>

                    <!-- Modal window to confirm deletion of product -->
                    <div class="modal" id="delete-producer-{{ producer.id }}" tabindex="-1" role="dialog"
                        aria-labelledby="delete-{{ producer.name }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered text-left" role="document">
                            <div class="modal-content rounded-0">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-bold text-uppercase"
                                        id="delete-{{ producer.name }}">
                                        <i class="fas fa-exclamation-triangle text-danger"></i> You are about to delete
                                        a
                                        producer!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>"{{ producer.name }}" and all their products will be removed from the store.
                                        This action cannot be reversed.</p>
                                    <p class="font-weight-bold">Are you sure you want to do this?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-outline-gold rounded-0"
                                        data-dismiss="modal">cancel</button>
                                    <a href="{% url 'delete_producer' producer.id %}" type="button"
                                        class="btn btn-primary btn-danger-custom rounded-0 text-uppercase"><i
                                            class="fas fa-trash-alt"></i> delete</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h3 class="mb-4">Our Offering:</h3>
                    {% for product in products %}
                    <div class="row">
                        <div class="col-3">
                            {% if product.image_url %}
                            <img class="img-fluid" src="{{ product.image_url }}" alt="{{ product.name }}">
                            {% elif product.image %}
                            <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                            <img class="img-fluid" src="{{ MEDIA_URL }}no-image.png" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                        <div class="col-9">
                            <h4>{{ product.name }}</h4>
                            <p class="m-0 text-muted">
                                {{ product.volume}} {{ product.packaging }}
                            </p>
                            <p class="m-0">Style: {{ product.style.friendly_name }}</p>
                            <p class="m-0">ABV: {{ product.abv }}%</p>
                            <a class="mt-2 text-small btn btn-outline-gold"
                                href="{% url 'product_detail' product.id %}">see
                                product</a>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col d-none d-sm-block col-md-3"></div>
    </div>
</div>

{% endblock%}

{% block postloadjs %}
{{ block.super }}
{% endblock %}