{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- Highlighted Producers -->
<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1 product-container">
            <div class="row">
                <div class="col">
                    <h2 class="h2-page-title">Producers</h2>
                    <p>Here are some of the producers we proudly collaborate with.</p>
                </div>
            </div>

            <!-- New releases listing -->
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 mt-2">

                {% for producer in producers %}
                <div class="col mb-4 text-center">
                    <a href="{% url 'producer_detail' producer.id %}"><img
                            src="{% if producer.image %}{{ producer.image.url }}{% else %}{{ MEDIA_URL }}no-image.png{% endif %}"
                            class="img-fluid w-75 mb-2" alt="{{ producer.name }}"></a>
                    <p class="font-weight-bold mb-0">
                        <a href="{% url 'producer_detail' producer.id %}">{{ producer.name }}</a>
                    </p>
                    <p class="text-muted">{{ producer.location }}</p>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

</div>
{% endblock%}