{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="mt-4">{{ profile.default_company_name }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-6">
            <p class="text-muted">Default delivery Information</p>
            <form action="{% url 'profile' %}" class="mt-3" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-gold" type="submit">Update information</button>
            </form>
        </div>
        <div class="col col-lg-6">
            <p class="text-muted">Order History</p>
            {{ orders }}
        </div>
    </div>
</div>


{% endblock %}