@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto+Slab:wght@300;400&display=swap");

body {
    background-color: #fbfbf8;
    color: #1b1b1b;
    font-family: "Lato", sans-serif;
    height: 100%;
    padding-bottom: 2rem;
}

/* SITE HEADER */

.site-header {
    background-color: #1b1b1b;
    position: relative;
}

/* Navigation */

.nav-link {
    color: #fbfbf8;
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
}

.nav-link:hover,
.navbar-bars:hover {
    color: #ffc717;
}

.navbar-bars {
    color: #fbfbf8;
}

.search-bar {
    margin-top: -1px !important;
}

.desktop-search-bar {
    width: 300px;
}

.full-nav {
    padding: 0;
}

.mobile-top-header .nav-link {
    padding: 0;
}

.mobile-top-header .nav-link p {
    font-size: 0.8rem;
}

.dropdown-menu {
    background-color: #1b1b1b;
    border: none;
    border-radius: 0px;
}

.dropdown-item {
    color: #fbfbf8;
    font-weight: 300;
}

.dropdown-item:hover {
    background-color: #1b1b1b;
    color: #ffc717;
}

/* Carousel */

.slide-caption {
    background-color: rgba(27, 27, 27, 0.6);
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: right;
    padding: 2rem 7rem;
}

.carousel-control {
    width: 8%;
    font-size: 2.5rem;
    bottom: 0px;
}

/* Untappd API */

.untappd-result {
    border: 1px solid #1b1b1b;
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0;
}

/* Product Listings */

.listing-card {
    background-color: transparent;
    border: 0;
}

/* Forms */

.dark-border {
    border: 1px solid #1b1b1b !important;
    border-radius: 0px;
}

/* Elements */

.btn-gold {
    background-color: #ffc717;
    color: #1b1b1b;
    border-radius: 0;
    border: 0;
    padding: 0.5rem 0.8rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    height: 100%;
}

.btn-gold.btn-gold-appended {
    border-right: 1px solid #1b1b1b;
    border-top: 1px solid #1b1b1b;
    border-bottom: 1px solid #1b1b1b;
    background-clip: border-box;
}

.btn-gold:hover {
    color: #1b1b1b;
    background-color: #e0ac00;
}

.footer {
    background: #1b1b1b;
    color: #fbfbf8;
    font-size: 0.7rem;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

/* Media Requests */

/* Smallest Screen Sizes */
/* @media (max-width: 576px) {
    .slide-caption {
        height: 100%;
    }
} */

/* Medium Screen Sizes */
@media (min-width: 768px) {
    .w-md-75 {
        width: 75% !important;
    }

    .w-md-25 {
        width: 25% !important;
    }
}

/* Large Screen Sizes*/
@media (min-width: 992px) {
    .w-lg-100 {
        width: 100% !important;
    }
    .full-nav {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    .main-logo-link {
        position: relative;
        top: 35px;
        z-index: 1000;
    }
    body {
        margin-top: -35px;
    }
}
