@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto+Slab:wght@300;400&display=swap");

body {
    background-color: #fbfbf8;
    color: #1b1b1b;
    font-family: "Lato", sans-serif;
    height: 100%;
}

/* SITE HEADER */

.site-header {
    background-color: #1b1b1b;
    position: relative;
}

/* Navigation */

.nav-link {
    color: #fbfbf8;
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
}

.nav-link:hover,
.navbar-bars:hover {
    color: #ffc717;
}

.navbar-bars {
    color: #fbfbf8;
}

.search-bar {
    margin-top: -1px !important;
}

.desktop-search-bar {
    width: 300px;
}

.full-nav {
    padding: 0;
}

.btn-gold {
    background-color: #ffc717;
    color: #fbfbf8;
}

.mobile-top-header .nav-link {
    padding: 0;
}

.mobile-top-header .nav-link p {
    font-size: 0.8rem;
}

.dropdown-menu {
    background-color: #1b1b1b;
    border: none;
    border-radius: 0px;
}

.dropdown-item {
    color: #fbfbf8;
    font-weight: 300;
}

.dropdown-item:hover {
    background-color: #1b1b1b;
    color: #ffc717;
}

footer {
    background: #1b1b1b;
    color: #fbfbf8;
    font-size: 0.7rem;
    text-align: center;
}

/* Media Requests */

@media (min-width: 768px) {
    .w-sm-75 {
        width: 75% !important;
    }

    .w-sm-25 {
        width: 25% !important;
    }
}

@media (min-width: 992px) {
    .w-md-100 {
        width: 100% !important;
    }
    .full-nav {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
}
