{% if widget.is_initial %}
{% if not widget.required %}
<div class="custom-control custom-checkbox mt-2">
    <input class="custom-control-input" type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"
        {% if widget.attrs.disabled %} disabled{% endif %}>
    <label class="custom-control-label text-danger"
        for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
</div>
{% endif %}
<br>
{{ widget.input_text }}
{% endif %}
<span class="btn btn-gold btn-file">
    <span id="new-image-text">Choose Another Image</span>
    <input id="new-image" type="{{ widget.type }}" name="{{ widget.name }}"
        {% include "django/forms/widgets/attrs.html" %}>
</span>
<strong>
    <p class="text-danger" id="filename"></p>
</strong>