{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Beer WareHaus {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid site-header">
        <div class="row">
            <!-- Logo -->
            <div class="col-12 col-lg-2 my-auto py-1 py-md-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="logo nav-link main-logo-link">
                    <h1 class="display-5 my-0">
                        <img src="{{ MEDIA_URL }}beer-warehaus-logo.png" alt="Beer WareHaus"
                            class="w-50 w-md-25 w-lg-100">
                    </h1>
                </a>
            </div>

            <!--Navigation -->
            <div class="col-12 col-lg-10 full-nav">
                <nav class="navbar navbar-expand-lg w-100 align-items-end">
                    <button class="navbar-toggler align-self-center" type="button" data-toggle="collapse"
                        data-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-bars"><i class="fas fa-bars fa-lg"></i></span>
                    </button>
                    {% include 'includes/mobile-top-header.html' %}
                    {% include 'includes/main-nav.html' %}
                </nav>
            </div>
        </div>
    </header>
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}


    {% block content %}
    {% endblock %}


    <footer class="container-fluid footer">
        <div class="row">
            <div class="col-md-3">
                <h3>Contact</h3>
                <ul class="fa-ul">
                    <li class="mb-2">
                        <span class="fa-li d-none d-md-inline">
                            <i class="fa fa-location-arrow"></i>
                        </span>
                        <i class="fa fa-location-arrow d-md-none pr-2"></i>
                        123 Beer St.
                        <br>
                        Oslo, Norway
                    </li>
                    <li class="mb-2">
                        <span class="fa-li d-none d-md-inline">
                            <i class="fa fa-phone"></i>
                        </span>
                        <i class="fa fa-phone d-md-none pr-2"></i>
                        <a aria-label="phone number" href="tel:555-123-4567">
                            555-123-4567
                        </a>
                    </li>
                    <li class="mb-2">
                        <span class="fa-li d-none d-md-inline">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <i class="fa fa-envelope d-md-none pr-2"></i>
                        <a aria-label="email" href="contact@beewarehaus.com">
                            contact@beewarehaus.com
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Products</h3>
            </div>
            <div class="col-md-3">
                <h3>Subscribe</h3>
                <p>Receive our monthly newsletter to stay on top of our new offerings.</p>
                <form class="form">
                    <div class="input-group w-100">
                        <input class="form-control border-0 rounded-0" type="email" name="email-subscribe"
                            placeholder="E-mail address">
                        <div class="input-group-append">
                            <button class="form-control form-control h-100 btn btn-gold border-0 rounded-0"
                                type="submit">
                                <span class="icon">
                                    <i class="fas fa-paper-plane" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3 social">
                <h3>Connect</h3>
                <ul class="list-inline">
                    <li class="list-inline-item align-middle">
                        <a aria-label="Go to Facebook" href="https://facebook.com" target="_blank" rel="noopener">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item align-middle">
                        <a aria-label="Go to Twitter" href="https://twitter.com" target="_blank" rel="noopener">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item align-middle">
                        <a aria-label="Go to Instagram" href="https://instagram.com" target="_blank" rel="noopener">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item align-middle">
                        <a aria-label="Go to Untappd" href="https://untappd.com" target="_blank" rel="noopener">
                            <i class="fab fa-untappd"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col text-center">
                © Beer WareHaus - 2020
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}

</body>

</html>