{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid mb-3">
    <div class="row">
        <div class="col col-md-3 d-none d-sm-block"></div>
        <div class="col col-sm-10 col-md-6">
            <h2 class="h2-page-title">Contact Us!</h2>
            <p>Whether you are a restaurant, a bar, or a producer, we would love to hear from you. Please fill the
                following form to get in touch.</p>
            <form action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="company" class="sr-only">Company</label>
                    <input type="text" required class="form-control dark-border" id="company"
                        placeholder="Company Name *" name="company">
                </div>
                <div class="form-group">
                    <label for="contact-person" class="sr-only">Contact Person</label>
                    <input type="text" required class="form-control dark-border" id="company"
                        placeholder="Contact Person *" name="contact_person">
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="email" required class="sr-only">Email</label>
                        <input name="email" type="email" class="form-control dark-border" id="email"
                            placeholder="Email Address*" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="phone" class="sr-only">Phone</label>
                        <input name="phone" type="tel" class="form-control dark-border" id="phone"
                            placeholder="Phone Number">
                    </div>
                </div>

                <div class="form-group">
                    <label class="sr-only" for="message">Your message</label>
                    <textarea class="form-control dark-border" id="message" required rows="6"
                        placeholder="Your Message..." name="message"></textarea>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-gold">
                        <i class="fas fa-envelope-open-text mr-2"></i>Send Message
                    </button>
                </div>

            </form>
        </div>
        <div class="col col-md-3 d-none d-sm-block"></div>
    </div>
</div>

{% endblock%}

{% block postloadjs %}
{{ block.super }}
{% endblock %}