{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">
    <h2 class="mt-3">Add a Producer</h2>
    <div class="row">
        <div class="col-12 col-md-6 order-2 order-md-1">
            <form action=" {% url 'add_producer' %}" method="POST" id="add-producer-form" class="form mb-2"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                {% if image_url %}
                <div class="row">
                    <img class="w-50 mb-2" src="{{ image_url }}" />
                </div>
                {% endif %}
                <button class=" btn-gold border-0" type="submit">Add Producer <i class="fas fa-beer ml-1"></i></button>
            </form>
        </div>
        <div class="col-12 col-md-6 order-1 order-md-2">
            <form class="form" method="POST" action="{% url 'add_producer' %}">
                {% csrf_token %}
                <label for="producer_search">Find a producer on Untappd</label>
                <div class="input-group w-100">
                    <input class="form-control dark-border" id="producer_search" type="text" name="producer_search"
                        placeholder="Search Producer on Untappd">
                    <div class="input-group-append">
                        <button class="form-control btn btn-gold btn-gold-appended" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>

            {% if search %}
            {% if untappd_results %}
            <h3 class="mt-3">Results from Untappd</h3>
            {% for producer in untappd_results %}
            <div class="row my-2 untappd-result">
                <div class="col-2"><img src="{{ producer.brewery.brewery_label }}"
                        alt="{{ producer.brewery.brewery_name }} label" class="w-100"></div>
                <div class="col-8">
                    <h4 class="display-5">{{ producer.brewery.brewery_name }}</h4>
                    <strong>{{ producer.brewery.country_name }}</strong>
                </div>
                <div class="col-2">
                    <form method="POST" action="{% url 'add_producer'%}">
                        {% csrf_token %}
                        <input type="hidden" value="{{ producer.brewery.brewery_id }}" name="brewery_id">
                        <button class="btn-gold border-0 p-2 mt-2 w-100" type="submit">
                            <i class="fas fa-plus"></i>
                        </button>
                    </form>
                </div>
            </div>
            {% endfor %}
            {% else %}
            No results found for this brewery.
            {% endif %}
            {% endif %}

            {% if untappd_results.length == 0 %}
            <p>No brewery found by that name.</p>
            {% endif %}

        </div>
    </div>




</div>
{% endblock%}

{% block postloadjs %}

{% endblock %}