{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">
    <h2 class="mt-3">Add a Producer</h2>
    <div class="row">
        <div class="col col-md-6">
            <form action=" {% url 'add_producer' %}" method="POST" id="add-producer-form" class="form mb-2"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <button class=" btn-gold border-0" type="submit">Add Producer</button>
            </form>
        </div>
        <div class="col col-md-6">
            <form class="form" method="POST" action="{% url 'find_untappd_producer' %}">
                {% csrf_token %}
                <div class="input-group w-100">
                    <input class="form-control border-1 rounded-0" type="text" name="producer_search"
                        placeholder="Search Producer on Untappd">
                    <div class="input-group-append">
                        <button class="form-control form-control btn btn-gold border-0 rounded-0" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>

            {% if untappd_results %}
            <h3 class="mt-3">Results from Untappd</h3>
            {% for producer in untappd_results %}
            <div class="row my-2">
                <div class="col-2"><img src="{{ producer.brewery.brewery_label }}"
                        alt="{{ producer.brewery.brewery_name }} label" class="w-100"></div>
                <div class="col-10">
                    <h4 class="display-5">{{ producer.brewery.brewery_name }}</h4>
                    <strong>{{ producer.brewery.country_name }}</strong>
                    <form method="POST" action="{% url 'add_untappd_producer'%}">
                        {% csrf_token %}
                        <input type="hidden" value="{{ producer.brewery.brewery_id }}" name="brewery_id">
                        <button class="btn-gold border-0 p-2" type="submit">Select Producer</button>
                    </form>
                </div>
            </div>
            {% endfor %}
            {% endif %}

            {% if untappd_results.length == 0 %}
            <p>No brewery found by that name.</p>
            {% endif %}

        </div>
    </div>




</div>
{% endblock%}

{% block postloadjs %}

{% endblock %}