{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1 product-container">
            <div class="row">
                <div class="col">
                    <h2 class="h2-page-title">Edit Product</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 order-2 order-md-1">
                    <form action=" {% url 'edit_product' product.id %}" method="POST" id="edit-product-form"
                        class="form mb-2" enctype="multipart/form-data">
                        <!-- The following form edits the currently selected product -->
                        {% csrf_token %}
                        {% for field in form %}
                        {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                        {% else %}
                        {% if product.image_url %}
                        <p>Current Image:</p>
                        <a href="{{ product.image_url}}">
                            <img class="w-50" id="widget-image" src="{{ product.image_url }}" alt="{{ product.name }}">
                        </a>
                        {{ field }}
                        {% elif product.image %}
                        <p>Current Image:</p>
                        <a href="{{ product.image.url}}">
                            <img class="w-50" id="widget-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {{ field }}
                        {% else %}
                        {{ field }}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-gold"><i
                                class="fas fa-angle-left"></i>
                            Back</a>
                        <button class=" btn-gold border-0" type="submit">Update Product <i
                                class="fas fa-beer ml-1"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}

<!-- The following ensures the functionality of the image selector -->
{% block postloadjs %}
{{ block.super }}
<script>
    $('#id_image').change(function () {
        let file = $('#id_image')[0].files[0];
        $('#filename').text(`Image will be set to ${file.name}`);
    })
</script>
{% endblock %}