{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1 product-container">
            <div class="row">
                <div class="col">
                    <h2 class="h2-page-title d-inline-block">
                        Product Management
                    </h2>
                    <a href="{% url 'add_product' %}" class="ml-3 btn btn-gold">
                        <i class="fas fa-plus-circle mr-2"></i>New Product
                    </a>

                </div>
            </div>
            <div class="row mb-4 mt-3">
                <div class="col">
                    <form class="form" method="GET" action="{% url 'manage_products' %}">
                        <div class="input-group search-border w-75">
                            <input class="form-control dark-border" id="product-search" type="text" name="q"
                                placeholder="Find Product" required>
                            <div class="input-group-append">
                                <button class="form-control btn btn-gold btn-gold-appended h-100" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                            <div>
                                <a href="{% url 'manage_products' %}" class="ml-2 btn btn-danger-custom">Reset
                                    Search</a></div>
                        </div>
                    </form>
                    <hr>
                </div>
            </div>

            {% for product in products %}
            <div class="row">
                <div class="col-2">
                    <a class="btn btn-outline-gold w-75 mb-2" href="{% url 'edit_product' product.id %}">
                        <i class="fas fa-pencil-alt mr-2"></i> Edit
                    </a>
                    <a class="btn btn-danger-custom w-75" href="#delete-product-{{ product.id }}"
                        data-target="#delete-product-{{ product.id }}" data-toggle="modal">
                        <i class="fas fa-trash-alt mr-2"></i> Delete
                    </a>
                </div>
                <div class="col-2"><img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}"></div>
                <div class="col-3">
                    <p class="h5 mb-1">{{ product.name }}</p>
                    <p class="text-muted mb-0">{{ product.producer }}</p>
                    <p class="mb-0">ABV: {{ product.abv }}</p>
                    <p class="mb-0">Style: {{ product.style.friendly_name }}</p>
                    <p class="mb-0">Packaging: {{ product.volume }} {{ product.packaging }}</p>

                </div>
                <div class="col-5">
                    <p class="font-weight-bold mb-0">Description:</p>
                    <p class="text-muted">{{ product.description|truncatewords:40 }}</p>
                </div>

                <!-- Modal window for product deletion -->
                <div class="modal" id="delete-product-{{ product.id }}" tabindex="-1" role="dialog"
                    aria-labelledby="delete-{{ product.name }}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content rounded-0">
                            <div class="modal-header">
                                <h5 class="modal-title font-weight-bold text-uppercase" id="delete-{{ product.name }}">
                                    <i class="fas fa-exclamation-triangle text-danger"></i> You are
                                    about to delete a
                                    product!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>"{{ product.name }}" by {{ product.producer }} will be removed from
                                    the
                                    store. This action
                                    cannot be reversed.</p>
                                <p class="font-weight-bold">Are you sure you want to do this?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-outline-gold rounded-0"
                                    data-dismiss="modal">cancel</button>
                                <a href="{% url 'delete_product' product.id %}" type="button"
                                    class="btn btn-primary btn-danger-custom rounded-0 text-uppercase"><i
                                        class="fas fa-trash-alt"></i> delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>

<div class="btt-button rounded-0">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-angle-up mx-auto my-auto"></i>
    </a>
</div>

{% endblock%}

{% block postloadjs %}
{{ block.super }}
{% endblock %}