{% extends "base.html" %}
{% load static %}
{% load products_extra %}

{% block content %}

<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-10 offset-1 product-container">
            <div class="row">
                <div class="col">
                    <h2 class="h2-page-title">
                        {% if category %}
                        {{ category.friendly_name }}
                        {% elif style %}
                        {{ style.friendly_name }}s
                        {% elif search_term %}
                        Results for "{{ search_term }}"
                        {% else %}
                        Products
                        {% endif %}
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 my-auto order-md-last">
                    <div class="row">
                        <!-- Packaging filters -->
                        <div class="col">
                            <div class="sort-select-wrapper w-100">
                                <select id="packaging-selector" class="custom-select custom-select-sm rounded-0 border">
                                    <option value="reset" {% if packaging == 'None' %}selected{% endif %}>
                                        Serving style...
                                    </option>
                                    <option value="bottle_can" {% if packaging == 'bottle_can' %}selected{% endif %}>
                                        Bottles / Cans
                                    </option>
                                    <option value="keg" {% if packaging == 'keg' %}selected{% endif %}>
                                        Kegs
                                    </option>
                                </select>
                            </div>
                        </div>

                        <!-- Result filters -->
                        <div class="col">
                            <div class="sort-select-wrapper w-100">
                                <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border">
                                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>
                                        Sort by...
                                    </option>
                                    <option value="price_asc"
                                        {% if current_sorting == 'price_asc' %}selected{% endif %}>
                                        Price (low to high)
                                    </option>
                                    <option value="price_desc"
                                        {% if current_sorting == 'price_desc' %}selected{% endif %}>
                                        Price (high to low)
                                    </option>
                                    <option value="rating_asc"
                                        {% if current_sorting == 'rating_asc' %}selected{% endif %}>
                                        Rating (low to high)
                                    </option>
                                    <option value="rating_desc"
                                        {% if current_sorting == 'rating_desc' %}selected{% endif %}>
                                        Rating (high to low)
                                    </option>
                                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>
                                        Name (A-Z)
                                    </option>
                                    <option value="name_desc"
                                        {% if current_sorting == 'name_desc' %}selected{% endif %}>
                                        Name (Z-A)
                                    </option>
                                    <option value="abv_asc" {% if current_sorting == 'abv_asc' %}selected{% endif %}>
                                        Abv (low to high)
                                    </option>
                                    <option value="abv_desc" {% if current_sorting == 'abv_desc' %}selected{% endif %}>
                                        Abv (high to low)
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted my-0 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <a href="{% url 'products' %}">All Products</a> |
                        {% endif %}
                        {{ products.paginator.count }} Products{% if search_term %} found for
                        <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>

            </div>
            <div class="row mt-3">
                {% for product in products %}
                <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
                    <div class="card h-100 listing-card overflow-hidden">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}" {% if product.new_product %} class="new-product"
                            {% endif %}>
                            <img class="card-img-top img-fluid custom-card-img" src="{{ product.image.url }}"
                                alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}{% if product.new_product %} class=" new-product"
                            {% endif %}">
                            <img class="card-img-top img-fluid custom-card-img" src="{{ MEDIA_URL }}no-image.png"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <h3 class="mb-0 text-center h4">{{ product.name }}</h3>
                            <p class="card-text mb-2 text-center">
                                <a href="{% url 'producer_detail' product.producer.id %}">
                                    {{ product.producer }}
                                </a>
                            </p>
                            <p class="text-center font-weight-bold">
                                {% if product.packaging == 'keg' %}
                                {{ product.volume }} keg
                                {% else %}
                                {{ product.volume }} x {{ product.units_per_order }} {{ product.packaging}}s
                                {% endif %}
                            </p>
                            <p class="mb-0">
                                <strong>Style:</strong> <a href="{% url 'products'%}?style={{ product.style }}">
                                    {{ product.style.friendly_name }}
                                </a>
                            </p>
                            <p class="m-0"><strong>Abv: </strong>{{ product.abv }}%</p>
                            {% if product.rating %}
                            <p class="m-0"><i class="fab fa-untappd"></i> Rating: {{ product.rating }} / 5</p>
                            {% else %}
                            <p class="m-0">No Rating</p>
                            {% endif %}

                        </div>
                        <div class="card-footer pt-0 border-0 bg-white">
                            {% if product.packaging == 'keg' %}
                            <p class="text-muted mb-0 mt-2">Price:</p>
                            {% else %}
                            <p class="text-muted mb-0 mt-2">Price per unit:</p>
                            {% endif %}
                            <p class="lead mb-0 font-weight-bold text-right">
                                NOK {{ product.price }}
                            </p>

                            <!-- Product Management for shop admin -->
                            {% if request.user.is_superuser %}
                            <div class="text-right">
                                <small>
                                    <a href="{% url 'edit_product' product.id %}">Edit</a> |
                                    <a class="text-danger" href="#delete-product-{{ product.id }}"
                                        data-target="#delete-product-{{ product.id }}" data-toggle="modal">Delete</a>
                                </small>
                            </div>

                            <!-- Modal window for product deletion -->
                            <div class="modal" id="delete-product-{{ product.id }}" tabindex="-1" role="dialog"
                                aria-labelledby="delete-{{ product.name }}" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content rounded-0">
                                        <div class="modal-header">
                                            <h5 class="modal-title font-weight-bold text-uppercase"
                                                id="delete-{{ product.name }}">
                                                <i class="fas fa-exclamation-triangle text-danger"></i> You are
                                                about to delete a
                                                product!</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>"{{ product.name }}" by {{ product.producer }} will be removed from
                                                the
                                                store. This action
                                                cannot be reversed.</p>
                                            <p class="font-weight-bold">Are you sure you want to do this?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-outline-gold rounded-0"
                                                data-dismiss="modal">cancel</button>
                                            <a href="{% url 'delete_product' product.id %}" type="button"
                                                class="btn btn-primary btn-danger-custom rounded-0 text-uppercase"><i
                                                    class="fas fa-trash-alt"></i> delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Pagination -->

            {% if products.has_other_pages %}
            <div class="row">
                <div class="col">
                    <ul class="pagination justify-content-center">
                        {% if products.has_previous %}
                        <li><a href="?{% url_replace page=products.previous_page_number %}"><i
                                    class="fas fa-chevron-left"></i></a></li>
                        {% else %}
                        <li class="disabled"><span><i class="fas fa-chevron-left"></i></span></li>
                        {% endif %}
                        {% for i in products.paginator.page_range %}
                        {% if products.number == i %}
                        <li class="active mx-2 font-weight-bold"><span class="border-bottom border-dark">{{ i }}<span
                                    class="sr-only">(current)</span></span></li>
                        {% else %}
                        <li class="mx-2"><a href="?{% url_replace page=i %}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if products.has_next %}
                        <li><a href="?{% url_replace page=products.next_page_number %}"><i
                                    class="fas fa-chevron-right"></i></a></li>
                        {% else %}
                        <li class="disabled"><span><i class="fas fa-chevron-right"></i></span></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>



<!-- Back to top button -->
<div class="btt-button">
    <a class=" btt-link d-flex h-100">
        <i class="fas fa-angle-up mx-auto my-auto"></i>
    </a>
</div>

{% endblock%}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })

    function updateUrl(selector, param) {
        let currentUrl = new URL(window.location);
        let selectedVal = selector.val();

        if (Array.isArray(param)) {
            if (selectedVal !== 'reset') {
                for (let i = 0; i < param.length; i++) {
                    let current_param = param[i]
                    let current_value = selectedVal.split('_')[i];
                    currentUrl.searchParams.set(current_param, current_value);

                }
            } else {
                for (let i = 0; i < param.length; i++) {
                    currentUrl.searchParams.delete(param[i]);

                }
            }

        } else {
            if (selectedVal !== 'reset') {
                currentUrl.searchParams.set(param, selectedVal);
            } else {
                currentUrl.searchParams.delete(param);
            }
        }
        window.location.replace(currentUrl);
    }

    $('#sort-selector').change(function () {
        updateUrl($(this), ['sort', 'direction'])
    })
    $('#packaging-selector').change(function () {
        updateUrl($(this), 'packaging')
    })
</script>

{% endblock %}