{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="text-center mt-3 mb-2">
                {% if category %}
                {{ category.friendly_name }}
                {% elif style %}
                {{ style.friendly_name }}s
                {% else %}
                Products
                {% endif %}
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-10 offset-1 product-container">
            <div class="row">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>
                                Sort by...
                            </option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>
                                Price (low to high)
                            </option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>
                                Price (high to low)
                            </option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>
                                Rating (low to high)
                            </option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>
                                Rating (high to low)
                            </option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>
                                Name (A-Z)
                            </option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>
                                Name (Z-A)
                            </option>
                            <option value="abv_asc" {% if current_sorting == 'abv_asc' %}selected{% endif %}>
                                Abv (low to high)
                            </option>
                            <option value="abv_desc" {% if current_sorting == 'abv_desc' %}selected{% endif %}>
                                Abv (high to low)
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                        {% endif %}
                        {{ products|length }} Products{% if search_term %} found for
                        <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>

            </div>
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
                    <div class="card h-100 border-0">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-image.png"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0"><strong>{{ product.name }}</strong></p>
                            <p class="card-text text-muted mb-1">{{ product.producer }}</p>
                            <p>
                                <a
                                    href="{% url 'products'%}?style={{ product.style }}">{{ product.style.friendly_name }}</a>
                            </p>
                            <p><strong>Abv:</strong>{{ product.abv }}%</p>
                            {% if product.packaging == 'keg' %}
                            <p class="m-0">{{ product.volume }} keg</p>
                            {% else %}
                            <p class="m-0">
                                {{ product.volume }} x {{ product.units_per_order }} {{ product.packaging}}s
                            </p>
                            {% endif %}
                            {% if product.rating %}
                            <p class="m-0"><i class="fab fa-untappd"></i> Rating: {{ product.rating }} / 5</p>
                            {% else %}
                            <p class="m-0">No Rating</p>
                            {% endif %}

                        </div>
                        <div class="card-footer pt-0 border-0 bg-white">
                            <p class="lead mb-0 font-weight-bold">
                                NOK {{ product.cost }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row"></div>
        </div>
    </div>
</div>

{% endblock%}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('#sort-selector').change(function () {
        let selector = $(this);
        let currentUrl = new URL(window.location);

        let selectedVal = selector.val();
        if (selectedVal !== 'reset') {
            let sort = selectedVal.split('_')[0];
            let direction = selectedVal.split('_')[1];

            currentUrl.searchParams.set('sort', sort);
            currentUrl.searchParams.set('direction', direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete('sort');
            currentUrl.searchParams.delete('direction');

            window.location.replace(currentUrl);
        }
    })
</script>

{% endblock %}